input.ng-invalid{
    border: 1px solid red;
}
*{
    margin: 0px;
    padding: 5px;
}
.highlight
{
    background-color: greenyellow;
    border: 1px solid black;
}
.testscroll
{
    border: 1px solid black;
    background-color: gray;
    color: whitesmoke;
}