<div>
    input1 :
    <input type="text" ng-model="$ctrl.input1" ng-change="$ctrl.onTextChange()" /> </div>
<div>
    input2 :
    <input type="text" ng-model="$ctrl.input2" ng-change="$ctrl.onTextChange()" />
</div>
<div ng-class="{'calResult':$ctrl.isCalculated}">
    {{$ctrl.resultText || 'Result is'}} {{$ctrl.result|currency:'':2}}</div>
<button ng-click="$ctrl.onOperatorClick('+');">+</button>
<button ng-click="$ctrl.onOperatorClick('-');">-</button>
<button ng-click="$ctrl.onOperatorClick('*');">*</button>
<button ng-click="$ctrl.onOperatorClick('/');">/</button>