<!DOCTYPE html>
<html lang="en" ng-app="myappSlidShow">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Slide Show</title>
</head>
<body>
        <script src="Angular.js"></script>
        <script src="SlidShow.js"></script>
    <div ng-controller="MyCtrlSlidShow">
       <button ng-click="onSlidClick(-1);"><</button>
    <img src="{{imageList[index]}}" alt="" height="400px" width="600px"/>   
      <button ng-click="onSlidClick(1);">></button>
    </div>
</body>
</html>